@font-face{
  font-family: 'Helvetica', sans-serif;
  src: url('../fonts/helvetica.woff2');
  font-style: normal;
  font-weight: 400;
}

@font-face{
  font-family: 'Helvetica-Bold', sans-serif;
  src: url('../fonts/helvetica-bold.woff2');
  font-style: normal;
  font-weight: 700;
}

html{
  box-sizing: border-box;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  line-height: normal;
  color: #5C5C5E;
}

h1, h2, h3, h4, h5, h6{
  font-weight: inherit;
}
a{
  color: inherit;
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.section-title{
  text-transform: uppercase;
}

button{
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  color: inherit;
}

section{
  margin-bottom: 90px;
}
.header, .footer{
  height: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;

  margin-bottom: 90px;
}

.header-menu-list, .footer-socials-list, .footer-menu-list{
  display: flex;
  text-align: center;
  column-gap: 20px;
  justify-self: start;
}

.header-menu-list>li>a, .footer-menu-list>li>a{
  text-transform: uppercase;
}

.header-logo, .footer-logo{
  justify-self: center;
}
.header-cart{
  position: relative;
  justify-self: end;
  cursor: pointer;
}

.header-cart-counter{
  position: absolute;
  bottom: 2px;
  right: -5px;
  display: inline-block;
  height: 15px;
  width: 15px;
  font-size: 10px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  background-color: black;
  color: white;
}

.header-mobile-menu{
  display: none;
}

.top-section{
  height: calc(100vh - 170px);
  background-image: url('../images/top-section.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.top-section-title {
  font-size: 96px;
  margin-bottom: 10px;
}
.topsection-subtitle {
  font-size: 36px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}
.top-section-text {
  font-size: 13px;
  margin-bottom: 50px;
}
.button-block {
  display: inline-block;
  border: 1px solid var(--gradient, #BC10D8);
  margin-bottom: 9px;
}

.buynowbtn {
  padding: 21px 111px;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  font-weight: 700;
  color: #F6F4F5;
  text-transform: uppercase;
  border: none;
}

.pricebtn {
  padding: 21px 106px;
  background: rgba(217, 217, 217, 0.00);
  font-weight: 700;
  border: none;
}

.buynowbtn:hover, .pricebtn:hover{
  cursor: pointer;
}

.buytext {
  font-size: 13px;
}

.feature-titles{
  display: flex;
  column-gap: 132px;
  margin-bottom: 20px;
}

.feature-subtitle{
  text-transform: uppercase;
  font-size: 36px;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  flex-basis: 330px;
}

.feature-content{
  display: flex;
  justify-content: space-between;
}


.feature-content-buttons{
  font-weight: 700;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: start;
}

.feature-content-button-active{
  color: #070707;
}

.feature-content-item{
  grid-template-columns: 600px 300px;
  grid-template-rows: auto auto;
  display: none;
  transition: display 2s ease;
}

.feature-content-item-active{
  display: grid;
  
}

.feature-content-item-img{
  height: auto;
  grid-row: 1/-1;
}


.features-description-title {
  font-size: 24px;
  line-height: normal;
  margin-bottom: 10px;
}

.fetures-description {
  padding-right: 25px;
  margin-bottom: 40px;
  line-height: normal;
}

.features-content-video{
  grid-column: 2/-1;
  position: relative;
}

.features-content-video-play{
  position: absolute;
  top: 66px;
  left: 31px;
  cursor: pointer;
}

.features-content-video span{
  position: absolute;
  left: 9px;
  bottom: 10px;
  font-size: 13px;
  color: #F6F4F5;
}

.games-title{
  margin-bottom: 50px;
}

.games-content{
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.games-content-description-title{
  font-size: 36px;
  text-transform: uppercase;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: normal;
  margin-bottom: 10px;
}

.games-content-description-text{
  padding-right: 6px;
  margin-bottom: 30px;
}

.games-content-description-link{
  display: inline-block;
  font-weight: 700;
  padding: 16px 48px;
  text-transform: uppercase;
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   border: 1px solid #BC10D8;
  }

.games-content-items{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-content-item{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid var(--gradient, #BC10D8);
  background: rgba(217, 217, 217, 0.00);
  padding: 20px 15px;
}

.game-content-item-title{
  color: #070707;
  font-size: 24px;
  margin-bottom: 10px;
}

.game-content-item-text{
  max-width: 259px;
  height: 72px;
  padding-right: 5px;
  margin-bottom: 40px;
}  

.game-content-item-link{
  background: var(--gradient, linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oculus-block{
  margin-bottom: 90px;
  padding-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow-x: hidden;
}
.oculus-block-img {
  margin-bottom: 30px;
}

.oculus-block-bgtext{
  text-transform: uppercase;
  font-size: 400px;
  font-weight: 700;
  opacity: 0.2;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 0;
  right: auto;
  z-index: -1;
  margin: auto;
  animation: bgtext-animation 5s linear 1s infinite;
}

@keyframes bgtext-animation{
  from{
    transform: translateX(100%);
    transform-origin: left center;
  }
  to{
    transform: translateX(-100%);
    transform-origin: right center;
  }
}

.inbox-item-img{
  margin-bottom: 10px;
}

.inbox-title{
  margin-bottom: 50px;
}

.inbox-items{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  gap: 30px 20px;
  justify-content: end;
}

.inbox-item{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.inbox-item-text{
  font-size: 36px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  justify-self: start;
}

.inbox-item-one{
  grid-row: 1/-1;
}
.metaverse{
  position: relative;
  margin-bottom: 90px;
}
.metaverse-btn{
  position: absolute;
  bottom: 15%;
  right: 47%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}

.accessories-title{
  margin-bottom: 30px;
}

.accessories-subtitle {
  font-size: 36px;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.accessories-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.accessories-item {
  border: 1px solid #BC10D8;
  background: rgba(217, 217, 217, 0.00);
  padding: 20px;
}
.accessories-item-img {
  margin-bottom: 10px;
}
.accessories-item-title {
  font-size: 24px;
  color: #070707;
  margin-bottom: 10px;
  min-height: 56px;
}
.accessories-item-description {
  margin-bottom: 42px;
}
.accessories-item-price {
  color: #070707;
  font-weight: 700;
  margin-bottom: 20px;
}
.accessories-item-btn {
  text-transform: uppercase;
  font-weight: 700;
  background: linear-gradient(180deg, #BC10D8 0%, rgba(80, 0, 250, 0.93) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid #BC10D8;
  width: 100%;
  padding: 6px 0px;
}

.contacts{
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 93px;
}

.contacts-title{
  color: #070707;
  font-size: 24px;
  margin-bottom: 9px;
}

.contacts-wrapper{
  max-width: 600px;
}
.contacts-form{
  position: relative;
  margin-bottom: 10px;
}
.contacts-form-input{
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 1px solid #CACAD6;
  padding-right: 60px;
}

.contacts-form-input::placeholder{
  font-size: 13px;
  color: #CACAD6;
  padding-left: 5px;
}

.contact-form-btn{
  height: 50px;
  width: 50px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #CACAD6;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.contacts-text{
  font-size: 13px;
}

.footer{
  margin: 0;
}

.footer-socials{
  justify-self: end;
}